.stars,
.stars2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.stars {
  background: transparent;
  box-shadow:
    378px 891px #fff, 1893px 1199px #fff, 655px 1736px #fff, 1123px 301px #fff,
    1759px 1896px #fff, 941px 432px #fff, 165px 1729px #fff, 1926px 1386px #fff,
    1491px 520px #fff, 1548px 1307px #fff, 959px 1918px #fff, 1707px 1473px #fff,
    763px 1024px #fff, 1456px 1843px #fff, 1923px 1411px #fff, 1022px 1683px #fff,
    1864px 778px #fff, 1195px 654px #fff, 672px 1519px #fff, 1689px 1687px #fff;
  width: 1px;
  height: 1px;
}

.stars2 {
  background: transparent;
  box-shadow:
    878px 391px #38BDF8, 393px 699px #38BDF8, 1155px 236px #38BDF8, 623px 801px #38BDF8,
    1259px 1396px #38BDF8, 441px 932px #38BDF8, 665px 229px #38BDF8, 1426px 886px #38BDF8,
    991px 1020px #38BDF8, 1048px 807px #38BDF8, 459px 418px #38BDF8, 1207px 973px #38BDF8,
    263px 524px #38BDF8, 956px 343px #38BDF8, 1423px 911px #38BDF8, 522px 183px #38BDF8;
  width: 2px;
  height: 2px;
}
